{% extends 'anivamSite/base.html' %}
{% load static %}

{% block content %}
<head>
  <link href="{% static 'assets/css/style-login.css' %}" rel="stylesheet" type="text/css" media="all">
</head>

<body>
  <br>
  <br>
  <br>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
        <div class="fadeIn first">
          <img src="{% static 'assets/images/user.png' %}" id="icon" alt="User Icon" style="width: 50%; height: 50%"/>
          <center > {{username}} </center>
        </div>
      </br> </br>
        <div id=wrapper>
          <div id="first">تعداد دوستان</div> ۱۲ نفر </br></br>
          <div id="second">تعداد معاملات</div> ۴۷ عدد </br></br>
          <div id="third">حجم معاملات</div> ۱۲۰ میلیون </br></br>
        </div>
        {% if its_me %}
          <a class="btn btn-primary btn-action" style="color:white" href="//localhost:8000/chat/{{username}}/"> پیام دادن  </a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          {% if is_follow %}
            <form action="//localhost:8000/profile/{{username}}/" method="POST">
              {% csrf_token %}
              <input type="hidden" name="key" value="want_unfollow">
              <button type="submit" class="btn btn-danger btn-action" style="color:white; background-color: red;">دوست - </button>
            </form>
          {% else %}
            <form action="//localhost:8000/profile/{{username}}/" method="POST">
              {% csrf_token %}
              <input type="hidden" name="key" value="want_follow">
              <button type="submit" class="btn btn-primary btn-action" style="color:white">دوست + </button>
            </form>
          {% endif %}
        {% endif %}

        
    <!-- Remind Passowrd -->
      <div id="formFooter" style="text-align: left">
        <a class="underlineHover" href="#" style="text-decoration: none">گزارش تخلف</a>
      </div>

    </div>
  </div>
</body>
{% endblock %}