</body>
</html>
{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<html>
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<script type="text/javascript">
    function selected(id) {
      document.getElementById(id).classList.add("active_chat");
    }
    function deselected(id) {
      document.getElementById(id).classList.remove("active_chat");
      alert(":))))!");
    }
</script>
</head>
<body>
<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging" style="align-items: center; justify-content: center;">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          {% for room in all_rooms %}
          <div class="chat_list" onclick="selected('person2')" onblur="deselected('person2')" id="person2">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>{{room}} <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
            <!-- <div class="inbox_chat">
              <div class="chat_list active_chat" onclick="selected('person1')" onblur="deselected('person1')" id="person1">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>Akbar 1 <span class="chat_date">Dec 25</span></h5>
                    <p>Test, which is a new approach to have all solutions
                      astrology under one roof.</p>
                  </div>
                </div>
              </div>
              <div class="chat_list" onclick="selected('person2')" onblur="deselected('person2')" id="person2">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>Akbar 2 <span class="chat_date">Dec 25</span></h5>
                    <p>Test, which is a new approach to have all solutions
                      astrology under one roof.</p>
                  </div>
                </div>
              </div>
              <div class="chat_list" onclick="selected('person3')" onblur="deselected('person3')" id="person3">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>Akbar 3 <span class="chat_date">Dec 25</span></h5>
                    <p>Test, which is a new approach to have all solutions
                      astrology under one roof.</p>
                  </div>
                </div>
              </div>
              <div class="chat_list" onclick="selected('person4')" id="person4">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>Akbar 4  <span class="chat_date">Dec 25</span></h5>
                    <p>Test, which is a new approach to have all solutions
                      astrology under one roof.</p>
                  </div>
                </div>
              </div>
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>Akbar 5 <span class="chat_date">Dec 25</span></h5>
                    <p>Test, which is a new approach to have all solutions
                      astrology under one roof.</p>
                  </div>
                </div>
              </div>
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>Akbar 6 <span class="chat_date">Dec 25</span></h5>
                    <p>Test, which is a new approach to have all solutions
                      astrology under one roof.</p>
                  </div>
                </div>
              </div>
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5>Akbar 7 <span class="chat_date">Dec 25</span></h5>
                    <p>Test, which is a new approach to have all solutions
                      astrology under one roof.</p>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        <div class="mesgs">
          <div id="chat-log" class="msg_history">
            
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input id="chat-message-input" type="text" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" id="chat-message-submit" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>

    </div></div>
    <script>
        var username = {{ username }};
        var room_name = {{ room_name }};

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + room_name
            + '/'
        );

        chatSocket.onopen = function(e){
            fetch_messages();
        }

        function fetch_messages(){
            chatSocket.send(JSON.stringify({'command':'fetch_messages',
                'room':room_name,
            }));
        }

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            if (data['command'] === 'fetch_messages'){
                for (let i = 0; i < data['messages'].length; i++){
                    create_message(data['messages'][i]);
                }
            } else if (data['command'] === 'new_messages'){
                create_message(data['message']);
            }
            
        };
        function create_message(message)
        {
            if (username === message.author){
                var tag = document.createElement("div");
                tag.setAttribute("class", "outgoing_msg");

                var tag2 = document.createElement("div");
                tag2.setAttribute("class", "sent_msg");

                var tag6 = document.createElement("p");
                tag6.innerHTML = 'ME' + ' :  ' + message.content;
                
                var tag7 = document.createElement("span");
                tag7.setAttribute("class", "time_date");
                tag7.innerHTML = "11:01 AM    |    June 9";

                tag2.appendChild(tag6);
                tag2.appendChild(tag7);
                tag.appendChild(tag2);
            }
            else {
                var tag = document.createElement("div");
                tag.setAttribute("class", "incoming_msg");

                var tag2 = document.createElement("div");
                tag2.setAttribute("class", "incomig_msg_img");

                tag.appendChild(tag2);

                var tag4 = document.createElement("div");
                tag4.setAttribute("class", "received_msg");

                var tag5 = document.createElement("div");
                tag5.setAttribute("class", "received_withd_msg");


                var tag6 = document.createElement("p");
                tag6.innerHTML = message.author + ' :  ' + message.content;
                
                var tag7 = document.createElement("span");
                tag7.setAttribute("class", "time_date");
                tag7.innerHTML = "11:01 AM    |    June 9";


                tag5.appendChild(tag6);
                tag5.appendChild(tag7);
                tag4.appendChild(tag5);
                tag.appendChild(tag4);
            }
            
            document.querySelector('#chat-log').appendChild(tag);
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'command': 'new_messages',
                'from': username,
                'room':room_name,
            }));
            messageInputDom.value = '';
        };
    </script>

    </body>
    </html>
